<nav class="flex justify-end items-center p-5 bg-transparent z-10 relative">
  <ul class="flex space-x-4 text-lg text-white align-middle">
    <li>Show in:</li>

    <app-framework-icon [disabled]="true" title="Angular">
      <img src="assets/svg/angular.svg" alt="Angular" >
    </app-framework-icon>

    <app-framework-icon title="React">
      <img src="assets/svg/react.svg" alt="React" class="h-5">
    </app-framework-icon>

    <app-framework-icon title="Vue.js">
      <img src="assets/svg/vue.svg" alt="Vue.js" class="h-5">
    </app-framework-icon>
  </ul>
</nav>
