<app-hero imagePath="assets/img/Projects.png">
  <app-header>
    <span white>My </span>
    Projects
  </app-header>

  @if(service.getShowCarousel()){
  <app-projects-carousel [projects]="projects" [svgs]="svgs" class="h-full lg:h-fit" />
  } @else {
  <section
    class="flex-grow flex flex-col content-start lg:flex-row lg:flex-wrap gap-8 lg:justify-center lg:max-h-[calc(100vh-16rem-3rem)] lg:overflow-y-auto">
    @for(project of projects; track project.id){
    <app-project-button [project]="project" [svgs]="svgs" class="h-fit" />
    }
  </section>
  }

</app-hero>
