<article class="collapse collapse-arrow bg-base-200 bg-opacity-25">
  <input type="radio" name="my-experiences"/>
  <p class="text-md flex flex-col collapse-title">
    <span class="flex flex-row flex-1 justify-between">
      <span class="uppercase font-bold text-lg">
        {{experience?.what}}
      </span>

      <span>
        {{experience?.whenFrom}} - {{experience?.whentTo}}
      </span>
    </span>
    <span class="font-semibold font-mono"> {{experience?.where}}
    </span>
  </p>

  <p class="collapse-content">{{experience?.description}}</p>
</article>
