<article class="collapse collapse-arrow glass">
  <input type="radio" name="my-experiences" [checked]="checked"/>
  <p class="text-md flex flex-col collapse-title">
    <span class="flex flex-col lg:flex-row flex-1 justify-between">
      <span class="uppercase font-bold text-lg order-2 lg:order-1">
        {{experience?.what}}
      </span>

      <span class="order-1 lg:order-2">
        {{experience?.whenFrom}} - {{experience?.whentTo}}
      </span>
    </span>
    <span class="font-semibold font-mono"> {{experience?.where}}
    </span>
  </p>

  <p class="collapse-content">{{experience?.description}}</p>
</article>
